.test {
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  color: rgb(224, 112, 37);
  background: linear-gradient(to top, #f1da36, #40b5ca);
  display: block;
  width: 500px;
  height: 100px;
  margin: 50px auto;
  margin-top: 45vh;
  font-size: 50px;
  
  
}
.test:hover {
  background: linear-gradient(45deg, #42e66b, #8ddbe9);
  border: 3px rgb(159, 159, 206) solid;
  box-shadow: 0px 0px 20px rgb(141, 101, 101) ;
}